body {
    margin: 0px;
    padding: 0px;
    /* background-image: url("https://c4.wallpaperflare.com/wallpaper/344/958/356/windows-10-windows-10-anniversary-logo-hd-wallpaper-preview.jpg"); */
    background-image: url("https://images.pexels.com/photos/396547/pexels-photo-396547.jpeg?cs=srgb&dl=pexels-francesco-ungaro-396547.jpg&fm=jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    height: 100vh;

}

h1{color: white;}

.LoginH1 {
    text-align: center;
}

a {
    color: white;
    text-decoration: none
}
#Forgot a{
    color: red;
}
#Login a {   
    text-decoration: none
}

.formin {
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
    width: 75vw;
    backdrop-filter: blur(10px);

}